
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
    color: #cfa37f;
}

h1, h2, h3, p, .menu a, button {
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #A68A64;
    color: #F4F4F4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #967d68;
}

header, footer {
    background-color: #cfa37f;
    color: #F4F4F4;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #F4F4F4;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #F4F4F4;
    text-decoration: none;
    font-weight: 600;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #C2BEBE;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 15px;
}

.section {
    text-align: center;
    padding: 50px 20px;
    background-color: #E0E0E0;
}

.section h1 {
    font-weight: 600;
    color: #cfa37f;
}

.section p {
    color: #A68A64;
}

.recetas {
    padding: 20px;
    text-align: center;
}

.recetas h2 {
    color: #cfa37f;
}

.recetas-container a {
    text-decoration: none;
    color: #cfa37f;
}

.recetas-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recetas-container article {
    display: flex;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-width: 200px;
    width: auto;
}

.recetas-container article img {
    width: 100px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.recetas-container article p {
    padding-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
}

.detalles-panel {
    display: flex;
    margin: 20px;
    background: bisque;
    border-radius: 30px;
}

.imagen-receta {
    width: 400px;
    margin: 30px;
    border-radius: 20px;
}

.categoria-receta a {
    text-decoration: none;
    color: #cb905f;
}

.detalles-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.detalles-misc-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-sign {
    display: flex;
    justify-content: center;
    color: #967d68;
}

.detalles-ingredientes-article {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    background-color: bisque;
    border-radius: 30px;

    width: 30vw;
}

.detalles-diff-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 20px;
    background-color: bisque;
    border-radius: 30px;

    width: 30vw;
}

.detalles-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalles-tags h3 {
    color: #967d68;
}

.tags-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalles-rating-article {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    background-color: bisque;
    border-radius: 30px;

    width: 30vw;
}

.detalles-revs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

